//////////// 공통영역 ////////////////

.pagesTitle{
    margin-top: 30px;
    margin-bottom: 30px;
}

//////////// 전체 템플릿 ////////////////




//////////// 인기순 템플릿 ////////////////




//////////// 진행방법 ////////////////




//////////// 문의사항 ////////////////
#listContainer{
    margin-left: 20px;
    margin-right: 20px;
}